<a href="https://colab.research.google.com/github/mgite03/bu-ai4all-2019/blob/main/Copy_of_P1_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python (Pt. 1)

Welcome to the exciting world of Python!

For some of you, this could be your very first time programming, and these lessons are designed to help you go from your very first steps with reading code all the way to writing code for the hands-on projects this summer. You got this!

![alt text](https://media.giphy.com/media/fnQ3DS2bSrOdxNIXOC/giphy.gif)

Before we jump into the lesson itself, let's talk about programming in general. **Programming** is a way to tell your computer how to perform tasks by giving it specific instructions. 

Everything a computer does is by using a computer program, and you may already be familiar with many of these! For example, Instagram, Pokemon Go, Google Maps, Siri, Photoshop, and more are all examples of computer programs.

![Imgur](https://i.imgur.com/JLDNaFK.jpg)

Just as humans communicate with different languages, there are also different languages to communicate to computers with. These are called **programming languages**, and there are hundreds of them, each with their own styles and uses.

For AI, one of the most popular programming language to use is Python. There are many reasons that people like to use Python, such as:

*   It's fast and easy to write code
*   Many great open-source **libraries**
*   Active and growing community

A programming library is a collection of code that someone else has written, that you can then use (so you don't have to reinvent the wheel). Many libraries are private and owned by specific companies, but other libraries are open-source, meaning that they can be freely and publicly used and contributed to. Python has a very large community of people who build and maintain open-source libraries.

We'll learn more about libraries in Python throughout the summer, and you may frequently see the use of one particular library called **Scikit-Learn**. This library and **TensorFlow** are two of the most popular for programming artificial intelligence.

As an additional note, programming languages have different version numbers which may affect how they're read and written. (Think of this like the difference between Ancient Greek and Modern Greek, and how a language changes over time.) For this and the following lessons, we will be specifically using **Python 3**.

## Your First Line of Python

Now let's jump into some programming! 

Click on the programming block below, and a play button will appear on the left. Click on the play button to run the line of Python code. If you had to guess, what do you think this line of code will do?

In [ ]:
print("I'm here! I'm coding!")

I'm here! I'm coding!

Congratulations! You've just run your very first line of code at the AI4ALL program.

![alt text](https://media.giphy.com/media/ely3apij36BJhoZ234/giphy.gif)

Before we dig deeper into Python, let's get to know about the coding environment that we're using.

## Intro to Jupyter Notebooks and Google Colabs

Typically, to run Python code, you have to run it on your computer, using either the command line or a specific type of program called an IDE (integrated development environment). 

Instead, right now we're using a tool called **Jupyter Notebooks**, which in the past few years has been extremely popular in the data science and artificial intelligence communities to write and run code. In addition, Google has created a software called **Colaboratory** (Colabs for short), which allows us to run our Notebooks in Google Drive, just like with Google Docs or Google Sheets.

**Let's try out Google Colabs by adding a _code block_ under this text. Click this text, and then on the top left of the web page, click the "+ Code" button.**

In [ ]:
print("Meghna :)")



---

You can write new Python code in any of the code blocks within this Notebook. When you want to run the code that you've written, make sure you have the code block selected, and hit the Play button on the left side of the block.

If you want to delete a code block, select it, and then click on the three dots on the right side of the block to show the "Delete Cell" option.

Python code persists between code blocks within this Notebook. That means that if you write some code in one code block, it can affect future code blocks. When we talk about variables next, this means that if you declare a variable in one code block, you can still call it in a different code block afterwards.

As you work more in Google Colabs over this program, you may use other functions, such as adding text blocks, rearranging cells, and maybe even learning some **Markdown**, which is a language used to help style text blocks.

## Your Very First Variable (at AI4ALL)

In programming, we use a concept called a **variable** that's similar to what you have learned in math. Let's give it a try:

In [ ]:
x = 100

When you run the cell above, you've **initialized** (created) a variable named `x` that you have **assigned** the value of 100. 

The next time you refer to `x` in your code, it will remember that it has been assigned 100. 

Variables are extremely useful in programming, and we'll see lots and lots of them moving forward!

Assignment statements in Python differ from mathematical equations in one key way: although mathematical equations can be reversed (e.g. x = 2 is the same as 2 = x), assignment statements cannot.

In [ ]:
100 = x

SyntaxError: ignored

Assignment is **directional from right-to-left**. The value on the right of the equals sign is assigned to the variable name to the left of the equals sign.

## Printing

When we run a Python program, the user will only see what we decide to print to the screen. 

Notice that when we set `x = 100` earlier, nothing was printed back out. How can we make sure that the value we assign to a variable is correct? We can print it!

In [ ]:
y = 200
print(y)

200

Try it out yourself! Add a line to the following code block to print the value of `z`.

In [ ]:
z = 1300
# Add your line of code here & don't forget to hit Run when you're done!
print(z)

# By the way, when you add a hashtag to the front of your line, this tells
# the coding environment to treat that line as a comment, so that you can
# type out helpful notes for yourself. Great programmers leave comments on
# their code to communicate information with other programmers!

1300

If we have multiple print commands in a row, they will print each on a separate line by default.

In [ ]:
print("Hello there!")
print("This message will show up to the user.")

Hello there!
This message will show up to the user.

One thing that you will find useful is to be able to print out a message but also include the value of a variable in that message. For example:

In [ ]:
no_flowers = 5
print("I have", no_flowers, "flowers.")

I have 5 flowers.

Notice that spaces were added between "have", "5", and "flowers" when we used the commas.

In Python, there are many, many ways to format your print statements, and different programmers have different preferences for how they like to work with printing. You may see some of these other methods later but you will suffice in your own code to just be familiar with the method above.

In [ ]:
no_books = 100
# Write a print statement below to say "I own 100 books", using the variable no_books
print("I own ", no_books, " books" )

I own  100  books

## Data Types

So far, we've only been assigning integers to our variables, like we see in math. In Python, we can actually assign many more types of data to our variables!

For example:

In [ ]:
some_string = "This is type of data is called a string!"
some_string_2 = 'This is also a string; notice we can use both quote marks and apostrophes'

# We can also assign numbers with decimal points to our variables. This is called a float.
some_number = 13.45

# Another type of variable is called a boolean, which only holds the value of True or False
# We'll talk more about these as we get to conditionals, in a later section
some_bool = True

print("Practice adding some print statements below to print the other variables!")
print(some_string_2)

Practice adding some print statements below to print the other variables!
This is also a string; notice we can use both quote marks and apostrophes

## Variable Naming Rules

Variables are case-sensitive. That means a variable named `thing` and one named `Thing` are different! Let's see why this matters by running the following code:

In [ ]:
thing = 1
print(Thing)

NameError: ignored

Oh no! What happens when you run that code block? You'll see a `NameError` pop up, saying that `'Thing' is not defined`. This happens because we initialized a variable named `thing` but not one named `Thing` with the uppercase T.

As you have seen in earlier examples, variables also can have letters, numbers, and underscores included in them, but with certain restrictions.

Run the following code blocks to see if they work or if they raise errors:

In [ ]:
thing_2 = 5

In [ ]:
thing-2 = 5

SyntaxError: ignored

In [ ]:
2_thing = 5

SyntaxError: ignored

In [ ]:
some variable = 5

SyntaxError: ignored

After running the above code blocks, you should see that you:


*   Can only start a variable name with a letter or underscore (no numbers)
*   Can't include a space in a variable name
*   Can't use any special characters (like `-` or `+`) or punctuation (like `.` or `,`)

Finally, you cannot use "reserved keywords" as variable names. "Reserved keywords" are special words in the Python language that do specific things in your code. For example, one reserved keyword is `for`. Notice how it's colored purple in the code block below:

In [ ]:
for = 10

SyntaxError: ignored

If you run the above code block, it will raise an error as expected.

In [ ]:
# Initialize your own variable below (give it any valid name) and assign it the value "Hello!"
greeting = "Hello!"

## Math in Python

Python also makes it _very_ easy to do math without calculating it ourselves. In artificial intelligence work, we often deal with very complex equations and numbers, sometimes even dealing with billions of numbers at once, and it can be nearly impossible to compute by hand! This is where programming really helps us out, so that we're not left feeling like:

![alt text](https://media.giphy.com/media/8lPSqcjcNjymIOS4Pm/giphy.gif)

For example, if someone asks us to multiply 35 and 67, we could type it right into Python:

In [ ]:
print(35*67)

2345

When we run the code above, we can print out the result of multiplying 35 and 67. But what if we need to keep this answer for future calculations? We can save it as a variable and re-use it!

In [ ]:
a = 35 * 60
b = 4
c = a * b
print(c)

8400

### Math Operators

So what mathematical operations can we do in Python, and how do we do them? Some examples below:

In [ ]:
addition = 3 + 5
subtraction = 10 - 2
multiplication = 4 * 9
division = 121 / 11
exponentiation = 3 ** 2

# Notice that if we run this cell block, there is no output (so we can't check our results)
# Add print statements so you can check the calculations are as expected!
print(addition, subtraction, division)

8 8 11.0

Additionally, one math operation you might not have seen before is called **modulo** and is quite useful when programming. What modulo does is it returns the remainder after you divide.

For example:

In [ ]:
modulo = 35 % 2
print(modulo)

# When you divide 35 by 2, you get 17 with a remainder of 1
# The modulo (%) operator will return that 1

1

In [ ]:
# What will the following return?
mod = 44 % 10
print(4)
print(mod)

4
4

### Order of Operations and Parentheses

Order of operations are respected in Python, and you can use parentheses as expected.

In [ ]:
some_number = (47 + 3) * 2 / 10
print(some_number)

10.0

You cannot, however, do implicit multiplication with parentheses. If you run the code below, it will return an error:

In [ ]:
some_number_2 = 2 (5 + 5)

TypeError: ignored

### An Arithmetic Shortcut

So far, we've only been initializing new variables. Variables in Python, unlike in math, can be updated to hold new values. For example:

In [ ]:
a = 10
print(a)
a = 20
print(a)

On the third line in the code block above, `a` is reassigned the value of 20.

What if we wanted to add 10 to the value of `a`?

In [ ]:
a = 20
a = a + 10
print(a)
# What do you expect this to print?

30

Notice that the second line would not be valid as a mathematical expression. We interpret this statement as: take the value of `a` (20) plus 10, then assign the result (30) to the variable named `a`. 

The operation performed in the second line can also be done using the below shortcut.

In [ ]:
a = 20
a += 10
print(a)

30

A longer example, with other operations. What do you think the final value should be? Try to calculate it yourself before adding a print command to test your answer:

In [ ]:
unknown = 5
unknown += 5
unknown -= 2
unknown *= 8
unknown /= 4
unknown %= 3
print(4)
print(unknown)

4
1.0

## User Input

Up until now, we've worked on printing, creating variables, and doing some math. All of that is useful, but what makes many programs interesting and valuable are that they can take in user input and change how they run.

Run the following cells to learn how we get user input

In [ ]:
input("Type something and hit enter! ")

Type something and hit enter! hello

'hello'

We've gotten user input, but how do we remember it and use it in the future?

As always, let's store it as a variable.

In [ ]:
answer = input("Tell me something: ")
print("You said:", answer)

Tell me something: beep
You said: beep

In fact, a very early version of AI (that wasn't _really_ AI) called ELIZA mainly just took user input and returned it in a way that tried to mimic how a psychologist might communicate with you:

In [ ]:
topic = input("What topic is on your mind? ")
print("And how does", topic, "make you feel?")

What topic is on your mind? bread
And how does bread make you feel?

# Lists

There are many ways in Python where we can store many different things in one single variable. Just like in the real world, we often want to be able to make lists in Python. Imagine these like to-do lists, shopping lists, or lists to keep track of a set of similar things.

![alt text](https://media.giphy.com/media/MJ4Qi9dSACpLG/giphy.gif)

In [ ]:
# The following is a list in Python:
things_to_do = ["water plants", "take out trash", "mow lawn", "prepare dinner"]

We use the square brackets `[]` to show that we're using a list in Python. Lists can be a mixture of different data types, like:

In [ ]:
some_random_list = [5, "something", True, 4.5, "okay"]

# To test if something is in a list, we use the operator 'in'

print(5 in some_random_list) #This will evaluate to a boolean

True

In [ ]:
# Fill in the list below so that the expression will evaluate to True!
your_list = [42 ]
x = 42

print(x in your_list)

True

### Indexing into a list

What if we wanted to get a specific **element** of a list? We can do the following:

In [ ]:
some_list = ['a', 'b', 'c']
print(some_list[1])

# What do you expect this to print?
print ("b")

b
b

In Python, we actually start counting from 0, not 1. So the "first" element of the list would be `some_list[0]`. The number that we use is called the **index** of the element. (So element `a` would have the index of 0.)

In [ ]:
# Print the 'e' from the list using indexing
random_list = [3, 5, 'blob', 'e']
print(random_list[3])

e

###Slicing

![alt text](https://media.giphy.com/media/OHNg1tHZcUcKc/giphy.gif)

Not that type of slicing.

Recall how we access individual elements of lists:

In [ ]:
lis = ["The Poet X", "Electric Arches", "America Is Not The Heart", "Reliquaria"]

# If we wanted to print the element "Electric Arches":
print(lis[1])

A common thing we'll want to do when working with data is to get multiple elements from a list.

In [ ]:
lis = ["The Poet X", "Electric Arches", "America Is Not The Heart", "Reliquaria"]

sub_lis = lis[0:2]

# What do you think this will print?
print(sub_lis)

['The Poet X', 'Electric Arches']

When we say `lis[0:2]`, we are telling Python to return us a new list that is a _slice_ of the original list. Specifically, we want this new list to start at the element whose index is 0 and go up to (but don't include) the element whose index is 2.

In the above example, that means the new list will include "The Poet X" (index 0) and "Electric Arches" (index 1).

In [ ]:
lis = ["The Poet X", "Electric Arches", "America Is Not The Heart", "Reliquaria"]

# Finish the following line so that your slice has "America Is Not the Heart" and "Reliquaria"
sub_lis = lis[2:]

print(sub_lis)

['America Is Not The Heart', 'Reliquaria']

The Python creators also provided a shortcut for doing our slices:

In [ ]:
lis = ["The Poet X", "Electric Arches", "America Is Not The Heart", "Reliquaria"]

sub_lis = lis[:2]
print(sub_lis)

['The Poet X', 'Electric Arches']

When you leave out the number before the `:`, Python assumes you mean the first element (index 0).

You can do the same for leaving out the number after the `:`. What do you think this does?

In [ ]:
lis = ["The Poet X", "Electric Arches", "America Is Not The Heart", "Reliquaria"]

sub_lis = lis[2:]
print(sub_lis)

['America Is Not The Heart', 'Reliquaria']

You can also perform skip slicing by using a third number separated by a colon in your slice. The third number indicates how large your "skip" is. 

The following slice should be read as: start from index 1, *get every second item*, and stop at index 5.

In [ ]:
test_list = [1,9,33,2,8,1,2]

test_slice = test_list[1:5:2]
print(test_slice)

[9, 2]

If you specify a negative skip, it will go backwards. In this case, you have to make sure that your start index occurs after your end index.

In [ ]:
test_list = [1,3,5,7,10]
test_slice2 = test_list[4:1:-1] #should be read as: start at index 4, go in steps of negative 1 (backwards) until index 1
print(test_slice2)

[10, 7, 5]

You can also combine different lists through concatenation using `+`.

In [ ]:
list1 = [1,2]
list2 = [3,4]

print(list1 + list2)
print(list2 + list1)
#Notice how they combine in the order specified

[1, 2, 3, 4]
[3, 4, 1, 2]

You can only concatenate lists with other lists. Observe below.

In [ ]:
list1 = [1,2]
list2 = [3,4]
list1b = list1 + [list2[0]]

print(list1b)

[1, 2, 3]

The error message says we're trying to concatenate a list and an int. When we index a list, as you might observe, it gives us the element in the list. If our list is full of integers, indexing that list will only give us an integer. However, slicing always gives us a list. There are 2 workarounds for this.

In [ ]:
list1 = [1,2]
list2 = [3,4]

print("This is an int:", list2[0]) #Observe how this is printed without square brackets
print("This is a list:", list2[:1]) #Whereas this has square brackets, so it is a list

print() #New line

solution_1 = list1 + list2[:1] #Slicing always gives us a list
print(solution_1)

solution_2 = list1 + [list2[0]] #Make the integer into a list by putting square brackets around it
print(solution_2)

This is an int: 3
This is a list: [3]

[1, 2, 3]
[1, 2, 3]

You can think of strings as lists of characters, so many of the list operations also work on strings.

In [ ]:
string = "This is a string!"

# Can you guess what this will print?
sub_string = string[10:]
print(sub_string)

string!

As you may have guessed, each character in a string can be indexed just like how we've been indexing into lists. This is very useful if you're working with string manipulation and natural language data.

Example:

In [ ]:
string = "This is a string!"

# If I wanted the first character of this string, 'T', I would do:
first_char = string[0]
print("The first character of the string is", first_char)

The first character of the string is T

We'll see slicing quite commonly in machine learning, because we often want to use smaller or specific portions of our data.

## Sets, tuples, and dictionaries, oh my!

While integers, strings, and booleans are data types, a list is typically referred to as a **data structure**, which is a _collection_ of data that is governed by a specific set of rules for accessing, organizing, adding, and removing data.

We'll make use of a few different data structures when manipulating data for machine learning -- each has its particular use cases.

### Adding to and removing from a list

To get started, let's look at how we can add and remove data from a list.

There are actually lots of ways to do this, like:

In [ ]:
# This is an empty list
lis = []

lis.append("My Hero Academia")
lis.append("Your Name")
print(lis)

['My Hero Academia', 'Your Name']

`append()` adds an element to the end of the list. What if we wanted to insert at a specific index?

In [ ]:
lis = ["My Hero Academia", "Your Name"]
lis.insert(1, "Totoro")
print(lis)

['My Hero Academia', 'Totoro', 'Your Name']

We can remove elements using other functions that are built-in.

In [ ]:
lis = ["My Hero Academia", "Totoro", "Your Name", "Avatar: The Last Airbender"]

# Looks for the element "Totoro" and removes it
lis.remove("Totoro")
print(lis)

# Remove an element with this specific index
lis.pop(1)
print(lis)

# Removes the last element when no parameter is given
lis.pop()
print(lis)

['My Hero Academia', 'Your Name', 'Avatar: The Last Airbender']
['My Hero Academia', 'Avatar: The Last Airbender']
['My Hero Academia']

You can also modify the elements in a list, using indexing:

In [ ]:
lis = ["My Hero Academia", "Totoro", "Your Name"]
lis[1] = "Spirited Away"
print(lis)

['My Hero Academia', 'Spirited Away', 'Your Name']

### Tuples

What if you wanted a collection of data like a list where you didn't want the elements in it to be modified? you can use a tuple!

In Python, we use `()` to show that we're using a tuple:

In [ ]:
tup = ("My Hero Academia", "Totoro")
print(tup)
print(tup[0])

('My Hero Academia', 'Totoro')
My Hero Academia

The following examples will both give you an error:

In [ ]:
tup = ("My Hero Academia", "Totoro")
tup[1] = "Spirited Away"
print(tup)

TypeError: ignored

In [ ]:
tup = ("My Hero Academia", "Totoro")
tup.append("Your Name")
print(tup)

AttributeError: ignored

Tuples are typically faster for the computer to work with than lists, and they offer a form of protection on our data by not allowing us to modify the elements in a tuple.

### Sets

Another collection that we'll use to work with our data is a set, which is essentially the same as a set in math. The main difference between a set and a list is that a set is _unordered_ and _unindexed_. That is, while the order in a list matters (and we can refer to something as the 0th element in a list), the same is not true for sets.

We denote sets in Python by using the curly braces: `{}`.

In [ ]:
some_list = ["Item 0", "Item 1"]
some_set = {"Some Item", "Another Item"}

print(some_list[1])

# The following line will cause an error:
#print(some_set[1])

Item 1

Sets also only have unique elements, while lists do not.

In [ ]:
some_list = ["Item", "Item"]
some_set = {"Item", "Item"}
print(some_list)
print(some_set)

['Item', 'Item']
{'Item'}

Suppose you wanted to keep track of the names of each student in a classroom. Would you use a set or a list?

The answer: It depends on what you're using it for! If you just cared about the unique number of names in your classroom, then a set might be more useful, because it won't keep track of duplicate names. If you wanted something to keep track of all the students in your class, then you should use a list (since people with the same name aren't the same people)!

You cannot modify the individual elements in a set, but you can add and remove elements from the set.

In [ ]:
some_set = {"Item"}
print(some_set)
some_set.add("Other Item")
print(some_set)
some_set.remove("Item")
print(some_set)

{'Item'}
{'Other Item', 'Item'}
{'Other Item'}

Let's say you asked 10 people what their favorite ice cream flavors are, but just want to know the unique number of favorite flavors they liked. You can use a set to help with this task:

In [ ]:
fav_flavors = {"strawberry", "vanilla", "chocolate", "green tea", "green tea", "vanilla", "green tea", "vanilla", "strawberry", "pistachio"}

# Remember that once you add those items into the set, the duplicates go away
print(fav_flavors)

# Print the length of the set
print(len(fav_flavors))

{'green tea', 'pistachio', 'strawberry', 'vanilla', 'chocolate'}
5

In [ ]:
# What if we tried this with a list?

fav_flavors = ["strawberry", "vanilla", "chocolate", "green tea", "green tea", "vanilla", "green tea", "vanilla", "strawberry", "pistachio"]
print(fav_flavors)

# Print the length of the list
print(len(fav_flavors))

['strawberry', 'vanilla', 'chocolate', 'green tea', 'green tea', 'vanilla', 'green tea', 'vanilla', 'strawberry', 'pistachio']
10

There are unique benefits to using either collection, and we'll use both as part of our toolbox when exploring and working with data.

**Exercise:** Write a program that asks five people what their favorite animal is, and then prints the number of unique favorite animals.

For now, to do something 5 times you can copy + paste code 5 times. This is repetitive, so tomorrow we'll learn a better way to do this, but for now it's fine.

In [ ]:
# Your code here
all_fav_animals = {}
all_fav_animals = set(all_fav_animals)# you could also do all_fav_animals = set()
all_fav_animals.add(input("What's your favorite animal?"))
all_fav_animals.add(input("What's your favorite animal, person 2?"))
all_fav_animals.add(input("What's your favorite animal, person 3?"))
all_fav_animals.add(input("What's your favorite animal, person 4?"))
all_fav_animals.add(input("What's your favorite animal, person 5?"))
                    
print(len(all_fav_animals))

What's your favorite animal?monkey
What's your favorite animal, person 2?monkey
What's your favorite animal, person 3?dog
What's your favorite animal, person 4?dog
What's your favorite animal, person 5?cat
3

### Dictionaries

The last collection we'll cover today is a dictionary, which is used just as you'd expect: like a dictionary.

![alt text](https://media.giphy.com/media/umMYB9u0rpJyE/giphy.gif)

Ok, so that's not the most helpful of explanations. Let's take a look at an example in code instead:

In [ ]:
# This is how you define a dictionary

definition = {
    "flammable": "easily set on fire",
    "inflammable": "easily set on fire",
    "nonflammable": "not catching fire easily"
}

# In order to access an element in the dictionary, we refer to its "key"
print(definition["flammable"])

easily set on fire

In the above example, our dictionary is designed very similarly to an actual dictionary. When we ask for the definition of a word like `flammable`, we get in return a string with its definition `easily set on fire`.

In this example, the word itself is called a _key_ and its definition is its _value_. You can think of dictionaries as sets, except every element is a key-value pair. Unlike lists where you access elements by using an integer index, you access elements in a dictionary by using the key.

In [ ]:
# Another example of a dictionary, this time with a mix of integer and string values

album_1 = {
    "name": "Escape from New York",
    "artist": "Beast Coast",
    "year": 2019
}

# How would we print out the artist of album_1?
print(album_1["artist"])

Beast Coast

Just like with lists, you can add to dictionaries, remove from dictionaries, print the length of a dictionary, check for specific elements, and many more operations.

In [ ]:
album_2 = {
    "name": "Sgt. Pepper's Lonely Hearts Club Band"
}

# Inserting a new pair, with "artist" as the key and "The Beatles" as its value
album_2["artist"] = "The Beatles"
print(album_2)

album_2["year"] = 1967
print(len(album_2))

print("artist" in album_2)

# Notice what the following will print:
print("The Beatles" in album_2)
# This is because we can only search a dictionary by key, not by value

# Deleting a key-value pair from the dictionary
del album_2["artist"]

print(album_2)

# If you just wanted the keys in a dictionary:
print(album_2.keys())

# Finally, if you want to clear out the entire dictionary:
album_2.clear()
print(album_2)

{'name': "Sgt. Pepper's Lonely Hearts Club Band", 'artist': 'The Beatles'}
3
True
False
{'name': "Sgt. Pepper's Lonely Hearts Club Band", 'year': 1967}
dict_keys(['name', 'year'])
{}

Notice that an empty dictionary is printed as `{}`, which at a glance looks like the same as an empty set. If you want to initialize an empty dictionary, you actually need to write `dict()`. Like so:

In [ ]:
empty_dict = dict()
empty_set = {}

empty_list = []
empty_tuple = ()

**Exercise:** Write a dictionary that contains the following information:

```
Issa       1
Daniel     3
Molly      2
Kelli      3
Lawrence   2
```

In [ ]:
# Code here
nums_for_ppl = {
    "Issa" : 1,
    "Daniel" : 3, 
    "Molly" : 2,
    "Kelli" : 3,
    "Lawrence" : 2
}

print(nums_for_ppl)
print(nums_for_ppl.keys())

{'Issa': 1, 'Daniel': 3, 'Molly': 2, 'Kelli': 3, 'Lawrence': 2}
dict_keys(['Issa', 'Daniel', 'Molly', 'Kelli', 'Lawrence'])

And that's it for the collections, aka data structures, that we'll be covering!

## Congratulations!

You made it to the end of the first Introdution to Python lesson! This was a very condensed sprint through some fundamental Python concepts, and you did amazingly. Remember, it takes time and practice to get the hang of programming, so no sweat if you need to review some of the concepts in this lesson. Take this time to really congratulate yourself on all your work coding today!

![alt text](https://media.giphy.com/media/26gs7fLOYbSGbBSN2/giphy.gif)

#Practice problems

1. Write a simple Python program that computes the integers 0 through 4 using expressions involving exactly four fours and no other numbers. For example:


```
zero = 4 + 4 - 4 - 4
```

Your expressions may use any of the following operators: +, -, *, // (integer division), ** (power), and parentheses. Note that you should use the integer division operator (//) instead of the regular division operator (/), because the / operator will cause your results to include a decimal. For example, 4//4 will give you 1, but 4/4 will give you 1.0.

In [ ]:
zero = 4 + 4 - 4 - 4
print('zero =', zero) #check that we did it right
one = (4//4)+4-4
print("one = ", one)
two = (4//4)+(4//4)
print("two = ", two)
three = (4+4+4)//4
print("three = ", three)
four = ((4//4)**4)*4
print("four = ", four)

#Add your code below to calculate integers 1-4 using four fours

zero = 0
one =  1
two =  2
three =  3
four =  4

2. List puzzles: Use the following lists and use indexing and slicing to create some new lists

In [ ]:
pi = [3, 1, 4, 1, 5, 9]
e = [2, 7, 1]

Create the list [1,1,1] using the above lists and operations we've shown.

In [ ]:
answer1 = [pi[1]]+[pi[3]]+[e[2]]+
print(answer1)

[1, 1, 1]

Create the list [1,2,3,4,5] using the above lists and operations we've shown. 

Optional challenge: See if you can do this using only 3 list operations

In [ ]:
answer2 = [pi[1]]+[e[0]]+[pi[0]]+[pi[2]]+[pi[4]]
print(answer2)

[1, 2, 3, 4, 5]

Create the list [9,1,1] using the above lists and oeprations we've shown.

In [ ]:
answer3 = [pi[5]]+[pi[1]]+[pi[3]]
print(answer3)

[9, 1, 1]

> 3. String puzzles: Use the following strings and use indexing, slicing, concatenation to create some new strings.

In [ ]:
a = "ai4all"
b = "boston"
u = "university"

Create the string `ball` using the above strings and string operations.

In [ ]:

string1 = b[0] + a[3:]
print(string1)

ball

Create the string `buai4all` using the above strings and string operations

In [ ]:

string2 = b[0]+u[0]+a
print(string2)

buai4all

Create the string `nonono` using the above strings and string operations. 

Hint: to do this using only two operations, see what happens when you multiply a string and an integer.

In [ ]:
string3 = (b[5:3:-1])*3
print(string3)

nonono

**Exercise:** Write a program that asks five people if they prefer pineapple on pizza or no pineapple on pizza. Use a dictionary to keep track of how many votes each option gets, and then print out which of the two options is more popular.

In [ ]:
# Some code to get you started:

pin_votes = {
    "pineapple": 0,
    "no pineapple": 0
}


i=0
while i<5:
  num = int(input("Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: "))
  if(num == 1):
    pin_votes["pineapple"]+= 1
    i+=1
  elif(num == 0):
    pin_votes["no pineapple"] +=1
    i+=1
  else:
    print("sorry, I don't understand")
    

if (pin_votes["pineapple"] > pin_votes["no pineapple"]):
  print("Pineapple on pizza is more popular!")
elif(pin_votes["no pineapple"] > pin_votes["pineapple"]):
  print("No pineapple on pizza is more popular!")

Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: 9
sorry, I don't understand
Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: 9
sorry, I don't understand
Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: 9
sorry, I don't understand
Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: 0
Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: 0
Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: 0
Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: 0
Input 1 if you like pineapple on pizza. Input 0 if you don't like pineapple on pizza: 0
No pineapple on pizza is more popular!